<!DOCTYPE html>
<html>
<head>
    <title>Shared Files</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>🔗 Shared Encrypted Files</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for msg in messages %}
            <li style="color: red;">{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <ul>
        {% for file in files %}
        <li>
            {{ file }}
            <form action="/decrypt_shared" method="post" style="display: inline;">
                <input type="hidden" name="filename" value="{{ file }}">
                <input type="text" name="key" placeholder="Enter key" required>
                <button type="submit">Decrypt</button>
            </form>
            <a href="{{ url_for('download_file', filename=file, folder='shared') }}">⬇️ Download</a>
        </li>
        {% endfor %}
    </ul>

    <br>
    <a href="/">⬅️ Back to Home</a>
</body>
</html>
